<% include partials/header %>
	<div class="row" id="timer">
				<div class="col-sm-3"><div id="day" class="mytimer"></div></div>
				<div class="col-sm-3"><div id="hr" class="mytimer"></div></div>
				<div class="col-sm-3"><div id="min" class="mytimer"></div></div>
				<div class="col-sm-3"><div id="sec" class="mytimer"></div></div>
	</div>
	<div class="myform">
		<br><br><br>
		<h1>Comment On: <%= product.name %></h1>
		<br><br><br><br>
		<form action="/selling/<%= product._id %>/comment" method="POST">
			<div>
				<input type="text" name="comment[text]" placeholder="Post a Comment" required>
			</div>
			<button type="submit" class="btn btn-outline-dark">Submit</button>
		</form>
	</div>
	<script>
		<% if(product.state == "onsale"){ %>
			var d = String("<%= product.enddate.getDate() %>");
			var m = Number("<%= product.enddate.getMonth() %>"); 
			var y = String("<%= product.enddate.getFullYear() %>"); 
			var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
			// Set the date we're counting down to
			var countDownDate = new Date(months[m] + " " + d + ", " + y + " 23:59:59").getTime();

			// Update the count down every 1 second
			var x = setInterval(function() {

		    	// Get todays date and time
		    	var now = new Date().getTime();
		    
		    	// Find the distance between now and the count down date
		    	var distance = countDownDate - now;
		    
			    // Time calculations for days, hours, minutes and seconds
			    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
			    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
			    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
			    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
		    
		    	// Output the result in an element with id="demo"
		    	document.getElementById("day").innerHTML = days + "d";
		    	document.getElementById("hr").innerHTML = hours + "h";
		    	document.getElementById("min").innerHTML = minutes + "m";
		    	document.getElementById("sec").innerHTML = seconds + "s";
		    	// If the count down is over, write some text 
		    	if (distance < 0) {
		        	clearInterval(x);
		        	document.getElementById("timer").innerHTML = "EXPIRED";
		        	window.location.href = "/selling/<%= product._id %>";
		    	}
			}, 1000);
		<% } %>
	</script>
<% include partials/footer %>